@charset "UTF-8";
@font-face {
    font-family: 'droid';
    src: url(../fontes/idroid.otf);
    font-weight: normal;
}
@font-face {
    font-family: 'bebas neue';
    src: url(../fontes/BebasNeue-Regular.ttf);
    font-weight: normal;
}

:root{
    --cor1: #012340;
    --cor2: #025939;
    --cor3: #027333;
    --cor4: #03A63C;
    --cor5: #04D939;

    --fonte-especial: 'droid';
    --fonte-padrao: Arial, Helvetica, sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: var(--fonte-padrao);
}
body{
    background-color: #01234067;

}

header{
    background-image: linear-gradient(to bottom, var(--cor4), var(--cor3));
    min-height: 150px;
    text-align: center;
    padding-bottom: 30px;
   

}
header h1{
    font-family: "bebas neue";
    font-weight: normal;
    font-size: 3em;
    color: white;
    padding-top: 40px;
    
}

header p{
    color: white;
    font-size: 1.3em;
    padding: 10px;
    max-width: 600px;
    margin: auto;
}

nav{
    background-color: var(--cor3);
    padding-bottom: 10px;
    box-shadow: 0px 8px 10px rgba(255, 255, 255, 0.116);
}

nav a{
    color: var(--cor5);
    margin: 10px;
    padding: 5px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    
}

nav a:hover{
    background-color: var(--cor4);
    color: var(--cor1);
    transition-duration: 0.4s;
}

main{
    background-color: white;
    max-width: 1000px;
    min-width: 320px;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 3px 10px 8px rgba(0, 0, 0, 0.178);
    margin-bottom: 40px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h1{
    font-family: var(--fonte-especial);
    font-weight: normal;
    font-size: 1.8em;
    color: var(--cor5);
  
}

main p{
    margin: 15px 0px ;
    text-align: justify;
    text-indent: 30px;
    line-height: 1.5em;
}

main h2{
    background-image: linear-gradient(to right, var(--cor1), transparent);
    color: var(--cor5);
    font-family: var(--fonte-especial);
    font-weight: normal;
    text-indent: 10px;
}

main img{
    width: 100%;
}
main img#pequena{
    display: block;
    margin: auto;
    max-width: 350px;
}

aside{
    background-color: var(--cor3);
    padding: 10px;
    border-radius: 10px;
    
    
}

aside h3{
    background-color: var(--cor1);
    margin: -10px -10px 0px -10px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: var(--cor5);
}

aside ul{
    list-style-position: inside;
    columns: 2;
    list-style-type: '\2714\00a0\00a0';
    
}

footer{
    background-color: #027333;
    text-align: center;
    padding: 3px;
    color: var(--cor1);
    font-weight: bold;
}